* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.form-group .wide {
    width: 100%;
}

.card-title a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar-brand img {
    max-width: 150px;
}

.row h3 button {
    text-decoration: none;
}

.row {
    margin-bottom: 2% !important;
}

body {
    background-image: url("https://images.pexels.com/photos/2398354/pexels-photo-2398354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    backdrop-filter: blur(5px) saturate(0%) brightness(50%);
    min-height: 150vh;
}

.headerNav nav {
    background: linear-gradient(90deg, rgba(60,60,60,1) 0%, rgba(211,211,211,1) 150%);
    font-weight: 900;
}

.navbar {
    border-bottom: none !important;
    margin-bottom: 27px;
    padding-top: 1%;
    padding-bottom: 1%;
    letter-spacing: 3px;
    
}

.nav-item {
    border-radius: 5px;
    border: none;
}

    .nav-item a {
        color: red !important;
        font-weight: 900 !important;
        transition: all .15s ease;
    }

        .nav-item a:hover {
            letter-spacing: 5px;
            transition: all .15s ease;
            color: whitesmoke !important;
        }

.btn {
    background-color: red !important;
    color: whitesmoke !important;
    border: none !important;
    font-weight: bold !important;
    transition: all .15s ease;
    letter-spacing: 2px;
}

    .btn:hover {
        transition: all 0.3s ease;
        letter-spacing: 2px;
        font-size: 19px;
    }


.create {
    background-color: rgba(60,60,60,1) !important;
    color: red !important;
    border: none !important;
    font-weight: bold !important;
    margin-top: 500px !important;
}

.text-end {
    padding-right: 5%;
}

h4 .og-price {
    text-decoration: line-through;
    color: black;
}

cart-buttons{
    display: flex;
    justify-content: left;
}

.stats{
    color: whitesmoke;
}

.bigLogo{
    width:60%;
    margin-left:50%;
    margin-top: 20%;
}
.slogan {
    width: 60%;
    margin-left: 50%;
}
.black-bar {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 100%);
    min-height: 62px;
}


    